<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Users</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Users</h1>
    <a href="/users/new">Add user</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <% for(let user of users){ %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                <form action="/users/<%= user.id %>/edit">
                    <button>Edit Username</button>
                </form>
                </td>
                <td>
                    <form method="get" action="/users/<%=user.id%>/delete">
                    <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>